body{
    background-image: url(../../img/background_home.jpg);
    background-size:cover;
}
div{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
button{
    margin-top:7px;
}
#replace{
    margin-top:2%;
}
form{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    height: 20%;
    width: 30%;
    border:2px inset;
    border-radius: 10px;
}